.page {
    background-color: #faebd7;
    padding: 30%;
}
#layout-header {
    margin-top: 15%;
    margin-bottom: 5%;
}
#layout-button {
    height: 50%;
}
button {
    border-radius: 12px;
    padding: 0;
}
.note {
    margin: 1%;
    height: 12%;
    width: 100%;
}
#generate {
    margin-left: 5%;
    height: 10%;
    width: 65%;
}
#listen{
    width: 20%;
    height: 10%;
    margin-left: 75%;
    font-size: 25%;
}
#msg_label {
    text-align: center;
    font-size: 20%;
    margin-bottom: 2%;
    height: 5%;
}
.primary {
    background-color: #008b8b;
}
.accent {
    background-color: #b8860b;
}
.green {
    color: green;
}
.red {
    color: red;
}
.fontello {
    font-family: "fontello";
}
#generate_layout {
    margin-bottom: 5%;
}
#attempts_layout {
    font-size: 20%;
}
#attempts_label {
    margin-left: 25%;
    width: 43%;
    height: 5%;
}
#attempts_switch {
    margin-left: 68%;
}
